<form novalidate name="securityForm" ng-submit="model.login()">

    <input type="text" id="registration.firstname" placeholder="firstname" ng-model="model.firstName" />

    <input type="text" id="registration.lastname" placeholder="lastname" ng-model="model.lastName" />
    <input type="text" id="registration.dateofbirth" placeholder="birthDate" ng-model="model.birthDate" />
    <input type="text" id="registration.streetnumber" placeholder="streetNumber" ng-model="model.streetNumber" />
    <input type="text" id="registration.streetname" placeholder="streetName" ng-model="model.streetName" />

    <input type="text" id="registration.city" placeholder="city" ng-model="model.city" />

    <input type="text" id="registration.postcode" placeholder="postoode" ng-model="model.postcode" />
    <input type="text" id="registration.suite" placeholder="suite" ng-model="model.suit" />
    <input type="text" id="registration.province" placeholder="province" ng-model="model.province" />
    <input type="checkbox" id="registration.sameasmailaddress" ng-model="model.sameAddress" />


    <input type="text" id="registration.occupationType" placeholder="occupationType" ng-model="model.firstNameoccupationType" />

    <input type="text" id="registration.occupationCategory" placeholder="occupationCategory" ng-model="model.occupationCategory" />
    <input type="text" id="registration.membershipnumber" placeholder="membershipnumber" ng-model="model.membershipnumber" />
    <input type="email" id="registration.emailaddress" placeholder="emailaddress" ng-model="model.emailaddress" />
    <input type="password" id="registration.password" placeholder="password" ng-model="model.password" />


    <input type="text" id="registration.securityanswer" placeholder="securityanswer" ng-model="model.securityanswer" />

    <input type="text" id="registration.securitypassword" placeholder="securitypassword" ng-model="model.securitypassword" />


    <input type="submit" value="Login" />

</form>